<div class="page-block startscreen__wrap">
	<div class="startscreen__text">
		<h1 class="title__main">Deepmine<br>Monero miner</h1>
		<div class="startscreen__content">
			<h6 class="title__s">Easy way to increase your web site revenue!</h6>
			<p class="desc__m">Use safe Deepmine browser javascript code to mine cryptocurrency, using your web site visitors’ CPU power. The most effective miner on the market with highest mining ratio.</p>
			<a href="#" class="cross-link">
				<span>Integrate Mining Script</span>
				<svg viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			    <g transform="translate(-274.000000, -622.000000)">
		        <g id="intro" transform="translate(90.000000, 256.000000)" >
		           <polygon id="Page-1" points="190.343 366.0009 188.929 367.2429 192.171 370.3149 184 370.3149 184 372.3139 192.171 372.3139 188.929 375.7279 190.343 377.2279 195.999 371.3769"></polygon>
		        </g>
			    </g>
				</svg>
			</a>
		</div>
	</div>

	<div class="startscreen__pic">
		<img class="startscreen__img" src="static/img/content/miner.png" alt="miner">
	</div>

</div>
