
<div class="page-block screen__wrap">
	<div class="screen__title ">
		<h3 class="title__m mod_blue">How it works</h3>
	</div>

	<div class="text">
		<div class="text__item mod_1-3">
			<div class="text__top">
				<p class="text__num">1</p>
			</div>
			<h5 class="text__title mod_blue">Take the script</h5>
			<p class="text__desc mod_blue">Choose preferences for Deepmine script and implement it to your web site.</p>

			<a href="static/img/content/miner.png" class="cross-link mod_red" download>
				<span>Download</span>
				<svg viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			    <g transform="translate(-274.000000, -622.000000)">
		        <g id="intro" transform="translate(90.000000, 256.000000)" >
		           <polygon id="Page-1" points="190.343 366.0009 188.929 367.2429 192.171 370.3149 184 370.3149 184 372.3139 192.171 372.3139 188.929 375.7279 190.343 377.2279 195.999 371.3769"></polygon>
		        </g>
			    </g>
				</svg>
			</a>
		</div>

		<div class="text__item mod_1-3">
			<div class="text__top">
				<p class="text__num">2</p>
			</div>
			<h5 class="text__title mod_blue">Paste on the HTML code</h5>
			<p class="text__desc mod_blue">After implementation Deepmine starts mining Monero coins immediately.</p>
		</div>

		<div class="text__item mod_1-3">
			<div class="text__top">
				<p class="text__num">3</p>
			</div>
			<h5 class="text__title mod_blue">Get money</h5>
			<p class="text__desc mod_blue">Get your Monero reward into your wallet.</p>
		</div>

	</div>

</div>