
<div class="page-block screen__wrap ">
	<div class="screen__title mod_wide">
		<h3 class="title__m mod_blue">Frequently Asked Questions</h3>
		<p class="desc__m mod_blue">MinerAlt offers a JavaScript miner for the Monero Blockchain (Why Monero?) that you can embed in your website. Your users run the miner directly in their Browser and mine XMR for you in turn for an ad-free experience, in-game currency or whatever incentives you can come up with.</p>
	</div>
	<div class="accordion">
		<div class="accordion__section">
			<h5 class="title__s">Theme 1</h5>
			<div class="accordion__item">
				<h6 class="accordion__title">What about payouts?
					<svg  viewBox="0 0 19 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <g id="arrow" fill-rule="evenodd" transform="translate(-820.000000, -5089.000000)" opacity="0.2" stroke-linecap="square">
					        <g id="faq" transform="translate(90.000000, 4610.000000)">
					            <g id="stable-ecpm-copy-2" transform="translate(0.000000, 470.000000)">
					                <path d="M739.5,18.1407025 L748.318165,10.2045455 L748.545444,10 L749,10.4090909 L748.772722,10.6136364 L739.954556,18.5497934 L740.000242,18.5909091 L739.545685,19 L739.5,18.9588843 L739.454315,19 L738.999758,18.5909091 L739.045444,18.5497934 L730.227278,10.6136364 L730,10.4090909 L730.454556,10 L730.681835,10.2045455 L739.5,18.1407025 Z" id="Combined-Shape"></path>
					            </g>
					        </g>
					    </g>
					</svg>
				</h6>
				<div class="accordion__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi necessitatibus excepturi labore officia dicta facere officiis asperiores, ea cupiditate! Eveniet!</div>
			</div>

			<div class="accordion__item is-active">
				<h6 class="accordion__title">What about payouts?
					<svg  viewBox="0 0 19 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <g id="arrow" fill-rule="evenodd" transform="translate(-820.000000, -5089.000000)" opacity="0.2" stroke-linecap="square">
					        <g id="faq" transform="translate(90.000000, 4610.000000)">
					            <g id="stable-ecpm-copy-2" transform="translate(0.000000, 470.000000)">
					                <path d="M739.5,18.1407025 L748.318165,10.2045455 L748.545444,10 L749,10.4090909 L748.772722,10.6136364 L739.954556,18.5497934 L740.000242,18.5909091 L739.545685,19 L739.5,18.9588843 L739.454315,19 L738.999758,18.5909091 L739.045444,18.5497934 L730.227278,10.6136364 L730,10.4090909 L730.454556,10 L730.681835,10.2045455 L739.5,18.1407025 Z" id="Combined-Shape"></path>
					            </g>
					        </g>
					    </g>
					</svg>
				</h6>
				<div class="accordion__text">Mineralt pays per solved hash. The payout rate is adjusted automatically every few hours based on the global difficulty of the network and the average reward per block. The payout rate is calculated like this:</div>
			</div>

			<div class="accordion__item">
				<h6 class="accordion__title">What about payouts?
					<svg  viewBox="0 0 19 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <g id="arrow" fill-rule="evenodd" transform="translate(-820.000000, -5089.000000)" opacity="0.2" stroke-linecap="square">
					        <g id="faq" transform="translate(90.000000, 4610.000000)">
					            <g id="stable-ecpm-copy-2" transform="translate(0.000000, 470.000000)">
					                <path d="M739.5,18.1407025 L748.318165,10.2045455 L748.545444,10 L749,10.4090909 L748.772722,10.6136364 L739.954556,18.5497934 L740.000242,18.5909091 L739.545685,19 L739.5,18.9588843 L739.454315,19 L738.999758,18.5909091 L739.045444,18.5497934 L730.227278,10.6136364 L730,10.4090909 L730.454556,10 L730.681835,10.2045455 L739.5,18.1407025 Z" id="Combined-Shape"></path>
					            </g>
					        </g>
					    </g>
					</svg>
				</h6>
				<div class="accordion__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi necessitatibus excepturi labore officia dicta facere officiis asperiores, ea cupiditate! Eveniet!</div>
			</div>
		</div>

		<div class="accordion__section">
			<h5 class="title__s">Theme 2</h5>
			<div class="accordion__item">
				<h6 class="accordion__title">What about payouts?
					<svg  viewBox="0 0 19 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <g id="arrow" fill-rule="evenodd" transform="translate(-820.000000, -5089.000000)" opacity="0.2" stroke-linecap="square">
					        <g id="faq" transform="translate(90.000000, 4610.000000)">
					            <g id="stable-ecpm-copy-2" transform="translate(0.000000, 470.000000)">
					                <path d="M739.5,18.1407025 L748.318165,10.2045455 L748.545444,10 L749,10.4090909 L748.772722,10.6136364 L739.954556,18.5497934 L740.000242,18.5909091 L739.545685,19 L739.5,18.9588843 L739.454315,19 L738.999758,18.5909091 L739.045444,18.5497934 L730.227278,10.6136364 L730,10.4090909 L730.454556,10 L730.681835,10.2045455 L739.5,18.1407025 Z" id="Combined-Shape"></path>
					            </g>
					        </g>
					    </g>
					</svg>
				</h6>
				<div class="accordion__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi necessitatibus excepturi labore officia dicta facere officiis asperiores, ea cupiditate! Eveniet!</div>
			</div>

			<div class="accordion__item">
				<h6 class="accordion__title">What about payouts?
					<svg  viewBox="0 0 19 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					    <g id="arrow" fill-rule="evenodd" transform="translate(-820.000000, -5089.000000)" opacity="0.2" stroke-linecap="square">
					        <g id="faq" transform="translate(90.000000, 4610.000000)">
					            <g id="stable-ecpm-copy-2" transform="translate(0.000000, 470.000000)">
					                <path d="M739.5,18.1407025 L748.318165,10.2045455 L748.545444,10 L749,10.4090909 L748.772722,10.6136364 L739.954556,18.5497934 L740.000242,18.5909091 L739.545685,19 L739.5,18.9588843 L739.454315,19 L738.999758,18.5909091 L739.045444,18.5497934 L730.227278,10.6136364 L730,10.4090909 L730.454556,10 L730.681835,10.2045455 L739.5,18.1407025 Z" id="Combined-Shape"></path>
					            </g>
					        </g>
					    </g>
					</svg>
				</h6>
				<div class="accordion__text">Mineralt pays per solved hash. The payout rate is adjusted automatically every few hours based on the global difficulty of the network and the average reward per block. The payout rate is calculated like this:</div>
			</div>
		</div>

	</div>

</div>
