
.screen
	padding-top: 1px
	&__wrap
	&__title
		width: 50%
		max-width: 555px
		margin-top: 120px
		+r(992)
			margin-top: 80px
			width: 100%
		+r(768)
			margin-top: 60px
		+r(544)
			font-size: 29px
		&.mod_wide
			width: 100%
			max-width: 750px
	&__text
		display: flex
		justify-content: space-between