<div class="page-block screen__wrap">
	<div class="screen__title">
		<h3 class="title__m">Browser mining is a new alternative revenue stream in addition to popup, native and media ads on your site</h3>
	</div>

	<div class="text">
		<div class="text__item">
			<div class="text__top">
				<div class="text__pic">
					<img src="static/img/content/icon-01.png" alt="icon" class="text__img">
				</div>
			</div>
			<h5 class="text__title">Stable eCPM</h5>
			<p class="text__desc">Your earnings do not depend on the manager's whims in the advertising network or from the rotation of a large advertiser. You eCPM is stably high and depends only on the power of the user CPU and your script preferences.</p>
		</div>

		<div class="text__item">
			<div class="text__top">
				<div class="text__pic">
					<img src="static/img/content/icon-02.png" alt="icon" class="text__img">
				</div>
			</div>
			<h5 class="text__title">Quick money and low fees</h5>
			<p class="text__desc">Since Deepmine is browser-based mining we are not dependent on advertisers. So we don’t have long delays on your money request. Get paid in popular payment systems in 24 hours.</p>
		</div>

		<div class="text__item">
			<div class="text__top">
				<div class="text__pic">
					<img src="static/img/content/icon-03.png" alt="icon" class="text__img">
				</div>
			</div>
			<h5 class="text__title">Earnings boost</h5>
			<p class="text__desc">No need to remove existing codes or script from ad networks on your site, just implement Deepmine as additional code.</p>
		</div>

		<div class="text__item">
			<div class="text__top">
				<div class="text__pic">
					<img src="static/img/content/icon-04.png" alt="icon" class="text__img">
				</div>
			</div>
			<h5 class="text__title">99,95% uptime and installation</h5>
			<p class="text__desc">Our infrastructure is located in high-quality European Data Centers with DDoS protection and proxies.</p>
		</div>

	</div>

</div>
