
<div class="page-block screen__wrap">
	<div class="screen__title">
		<h3 class="title__m">The advantages of choosing Deepmine browser mining javascript</h3>

	</div>

	<div class="text">

		<div class="text__item">
			<div class="text__top">
				<div class="text__pic">
					<img src="static/img/content/icon-11.png" alt="icon" class="text__img">
				</div>
			</div>
			<h5 class="text__title">No Antivirus and AdBlock detection</h5>
			<p class="text__desc">We ask permission from the user to use his CPU and couple of other "know-how" solutions, our miner works stably without false-positive detections.</p>
		</div>

		<div class="text__item">
			<div class="text__top">
				<div class="text__pic">
					<img src="static/img/content/icon-12.png" alt="icon" class="text__img">
				</div>
			</div>
			<h5 class="text__title">Payments in 24 hours on almost all types of e-currencies</h5>
			<p class="text__desc">We pay for various types of electronic money: PayPal, Credit Cards, Paxum, BitCoin, Monero (XMR), Payoneer, Webmoney and other more.</p>
		</div>

		<div class="text__item">
			<div class="text__top">
				<div class="text__pic">
					<img src="static/img/content/icon-12.png" alt="icon" class="text__img">
				</div>
			</div>
			<h5 class="text__title">Easy to integrate into the site</h5>
			<p class="text__desc">Deepmine script is just as easy to install as placing code from usual ad networks. Implement script today and make sure how is it.</p>
		</div>

		<div class="text__item">
			<div class="text__top">
				<div class="text__pic">
					<img src="static/img/content/icon-12.png" alt="icon" class="text__img">
				</div>
			</div>
			<h5 class="text__title">Easy registration and support and huge infrastructure</h5>
			<p class="text__desc">We have an easy and open registration and support. We will always try to help you as soon as possible, because we aren’t just cheap clone of other browser mining offers.</p>
		</div>

		<div class="text__item">
			<div class="text__top">
				<div class="text__pic">
					<img src="static/img/content/icon-12.png" alt="icon" class="text__img">
				</div>
			</div>
			<h5 class="text__title">Confidence in the future profits, protect yourself from “end of pop-ups era”</h5>
			<p class="text__desc">If you choose the Deepmine script, you don't have to worry about the upcoming "end of the popups advertising era" and the update of Google Chrome with the built-in AdBlock solution. Also, our script is only mining script. No redirect, no scam, no hidden functions as it happens in Adv Networks.</p>
		</div>

		<div class="text__item">
			<div class="text__top">
				<div class="text__pic">
					<img src="static/img/content/icon-12.png" alt="icon" class="text__img">
				</div>
			</div>
			<h5 class="text__title">No restrictions on the category of site and type of traffic</h5>
			<p class="text__desc">Deepmine is working on mobile and desktop traffic identically. Of course, most of all earn sites that have a long user desktop session. But we accept sites of any category, with any number of visitors and any type of traffic.</p>
		</div>
		<!--  -->
		<div class="text__item mod-wide">
			<div class="mac-pic">
		<listing class="mac-code">
			<span><</span>script>
			    var miner = new CoinHive.Anonymous('PW7FI1VfOmLOORjnVtJqS62MdJTJFiOl');
			    miner.start();
			<span></</span>script>
			<span><s</span>cript type="text/javascript">
			(function (d, w, c) {
			    (w[c] = w[c] || []).push(function() {
			        try {
			            w.yaCounter24517820 = new Ya.Metrika({id:24517820,
			                    webvisor:true,
			                    clickmap:true,
			                    trackLinks:true,
			                    accurateTrackBounce:true});
			        } catch(e) { }
			    });

			    var n = d.getElementsByTagName("script")[0],
			        s = d.createElement("script"),
			        f = function () { n.parentNode.insertBefore(s, n); };
			    s.type = "text/javascript";
			    s.async = true;
			    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

			    if (w.opera == "[object Opera]") {
			        d.addEventListener("DOMContentLoaded", f, false);
			    } else { f(); }
			})(document, window, "yandex_metrika_callbacks");
			<span></s</span>cript>
			<noscript><div><img src="//mc.yandex.ru/watch/24517820" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		</listing>

			</div>

		</div>

	</div>


</div>
